/* ContactDetails.module.css */

/* .underline {
  border-bottom: 2px solid #ccc;
  padding: 20px 0;
} */

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alignRight {
  text-align: right;
}

.bottomBorder {
  border-bottom: 1px solid #ddd;
}

.form {
  margin-top: 20px;
}

.formGroup {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
}

.submitButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #0056b3;
}

.closeButton {
  padding: 10px 20px;
  background-color: #ccc;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.closeButton:hover {
  background-color: #999;
}
.contactContainer {
  max-width: 500px; 
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}